body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    height: 100vh;
}

.calculator {
    background-color: white;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

h2 {
  color: red;
    margin-top: 25px;
    text-align: center;
}
